body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  width: 100%;
  background: #c1272d;
  height: 50px;
  line-height: 50px;
  /*position: fixed;*/
}

/* REMOVE */
.test-height {
  height: 500px;
}

.color-change {
  background-color: #2980b9;
}

/* /REMOVE */

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: ##ecf0f1;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  /* z-index: 10000000000000; */
}

.menu {
  z-index: 1000000;
  font-weight: bold;
  font-size: 0.8em;
  width: 100%;
  background: #FFF;
  position: absolute;
  text-align: center;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;
  color: #000;
  border-bottom: #7f8c8d 1px solid;
  font-size: x-large;
}

.menu li:hover {
  display: block;
  background: #ecf0f1;
  padding: 15px 0 15px 0;
  border-bottom: #1d1f20 1px solid;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;
  color: #fff;
}

.menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover {
  text-decoration: none;
  color: white;
}

.glyphicon-home {
  color: white;
  font-size: 1.5em;
  margin-top: 5px;
  margin: 0 auto;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
